
.container {
  width: 100%;
  height: auto;
  border: 1px solid #234465;
  margin-bottom: 3%;
  border-radius: 4px;
}

.description {
  word-wrap: break-word;
  padding: 0.5%;
  font-style: italic;
  /* border:1px solid blue; */
  margin-bottom: 0.5%;
  width: 95%;
  display: inline-block;
  vertical-align: top;
  ;
}

.container div {
  /* border:1px solid red; */
  height: auto;
  text-align: right;
  margin-bottom: 0.5%;
}

.user {
  text-decoration: underline;
  text-align: right;
  /* border:1px solid green; */
  padding-right: 1%;
}

.image {
  width: 32px;
  height: 32px;
}